* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #548687;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b04133;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #191910;
}

.reset, .new-game {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #191910;
    color: #fff;
    border-radius: 20px;
    margin-top: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.reset:hover, .new-game:hover {
    transform: scale(1.1);
}

.message-container {
    height: 110vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.hide {
    display: none;
}

.show {
    opacity: 1;
    pointer-events: all;
}
